*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---- Utility Classes ----*/
.flexVH {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---- Project18: Adding Up Times with reduce method ----*/

.page1-wrapper {
  background: url("./images/img-bg.jpg") no-repeat scroll center center
    transparent;
  background-size: cover;
}
